<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRJRg_Sg_aYBhQrKAQihKd4tK-62KybiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>225267067129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calculator</string>
	<key>PROJECT_ID</key>
	<string>calculator-327be</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-327be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225267067129:ios:b1f2799ecfe4af09dd9a28</string>
</dict>
</plist>